<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Bijou Menu  | www.projectikur.com</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id='content'>
		<a href='index.html'><img class='logo' src="images/logo.jpg" width="600" height="210" alt=""></a>
		
		<hr>
		
		<h1 class='title'>Bar Menu</h1>
		
		<ul class='menu'>
			<li class='category'>Risotto Cakes</li>
			<img class='menu-item-image' src='images/bar-menu-risotto-cakes.jpg'/>
			<p>Panko fried with crimini and portobello mushrooms</p>
			<p>6</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>
		</ul>

		<img class='logo' src="images/footer-image.png" width="300" height="25" alt="">

		<hr>
	</div>
</body>
</html>