<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Bijou Menu  | www.projectikur.com</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id='content'>
		<a href='index.html'><img class='logo' src="images/logo.jpg" width="600" height="210" alt=""></a>
		
		<hr>
		
		<h1 class='title'>Desserts</h1>
		
		<ul class='menu'>
			<li class='category'>Macaron</li>
			<img class='menu-item-image' src='images/desserts-macaron.jpg'/>
			<p>Vanilla ice cream with red berry coulis</p>
			<p>7</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>
			
			<li class='category'>Double Chocolate Mousse</li>
			<img class='menu-item-image' src='images/desserts-double-chocolate-mousse.jpg'/>
			<p>White and dark chocolate mousse over a thin layer of chocolate cake</p>
			<p>7</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Crepes Chantilly</li>
			<img class='menu-item-image' src='images/desserts-crepes-chantilly.jpg'/>
			<p>Served with vanilla chantilly and strawberries</p>
			<p>7</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Creme Brulee</li>
			<img class='menu-item-image' src='images/desserts-creme-brulee.jpg'/>
			<p>Creamy, light custard topped with caramelized brown sugar</p>
			<p>7</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Banana Flambe</li>
			<img class='menu-item-image' src='images/desserts-banana-flambe.jpg'/>
			<p>Fried bananas topped with rum and sugar and set on fire</p>
			<p>7</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Croissant Pudding</li>
			<img class='menu-item-image' src='images/desserts-croissant-pudding.jpg'/>
			<p>Vanilla bean custard baked with a croissant and topped with Nutella and vanilla ice cream</p>
			<p>7</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>
		</ul>

		<img class='logo' src="images/footer-image.png" width="300" height="25" alt="">

		<hr>
	</div>
</body>
</html>