<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Bijou Menu  | www.projectikur.com</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id='content'>
		<a href='index.html'><img class='logo' src="images/logo.jpg" width="600" height="210" alt=""></a>
		
		<hr>
		
		<h1 class='title'>Large Plates</h1>
		
		<ul class='menu'>
			<li class='category'>Little Gem</li>
			<img class='menu-item-image' src='images/drinks-little-gem.jpg'/>
			<p>Peruvian pisco, lime, apricot liqueur, pineapple, fizz</p>
			<p>11</p>
			<p>{{facebook}}</p>
			<hr>
			
			<li class='category'>Moroccan Coast</li>
			<img class='menu-item-image' src='images/drinks-moroccan-coast.jpg'/>
			<p>Mandarin blossom vodka, pomegranate, house-made tea infusion, touch of cardamom & clove liqueur, lime</p>
			<p>10</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Foothill</li>
			<img class='menu-item-image' src='images/drinks-foothill.jpg'/>
			<p>Raw ginger juice, bourbon whiskey, lemon, allspice liqueur, aromatic bitters, fizz</p>
			<p>10</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Andalusia</li>
			<img class='menu-item-image' src='images/drinks-andalusia.jpg'/>
			<p>House-made roasted red pepper puree, cucumber-infused vodka, sherry, lemon, smoked paprika rim</p>
			<p>11</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Smoke N'Mirrors</li>
			<img class='menu-item-image' src='images/drinks-smoke-n-mirrors.jpg'/>
			<p>House-made cranberry-chipotle shrub, tequila &amp; mezcal, fresh orange and lime juices, black lava salt</p>
			<p>10</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Garden Gimlet</li>
			<img class='menu-item-image' src='images/drinks-garden-gimlet.jpg'/>
			<p>House-made basil infusion, lime, gin, or vodka</p>
			<p>10</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Scofflaw</li>
			<img class='menu-item-image' src='images/drinks-scofflaw.jpg'/>
			<p><b><i>Circa 1924, Harry's Bar, Paris</i></b></p>
			<p>Rye whiskey, house-made pomegranate grenadine, lemon, dry vermouth</p>
			<p>10</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Vancouver</li>
			<img class='menu-item-image' src='images/drinks-vancouver.jpg'/>
			<p><b><i>Circa 1954, Sylvia hotel, Vancouver</i></b></p>
			<p>Gin, punt e mes, benedictine, orange bitters</p>
			<p>11</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Rattlesnake</li>
			<img class='menu-item-image' src='images/drinks-rattlesnake.jpg'/>
			<p><b><i>Circa 1930, Savoy Cocktail Book</i></b></p>
			<p>Rye and bourbon whiskies, maple syrup, lemon, egg white, peychaud bitters</p>
			<p>10</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>B Street Shuffle</li>
			<img class='menu-item-image' src='images/drinks-b-street-shuffle.jpg'/>
			<p>Blend of cognac &amp; whiskey, 100 proof apple brandy, green chartreuse, vermouth blanc, aromatic bitters</p>
			<p>12</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Orchard Manhattan</li>
			<img class='menu-item-image' src='images/drinks-orchard-manhattan.jpg'/>
			<p>Bourbon, apricot liqueur, walnut liqueur, black walnut and autumn-spiced bitters</p>
			<p>11</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Mission</li>
			<img class='menu-item-image' src='images/drinks-mission.jpg'/>
			<p>100 proof rye whiskey, carpano antica sweet vermouth, maraschino liqueur, orange bitters</p>
			<p>10</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>The Kingston</li>
			<img class='menu-item-image' src='images/drinks-the-kingston.jpg'/>
			<p>Jamaican rum, honey liqueur, vermouth blanc, grapefruit oil, aromatic bitters</p>
			<p>10</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Monaco</li>
			<img class='menu-item-image' src='images/drinks-monaco.jpg'/>
			<p>Almond syrup, lime juice, basil, pineapple, drizzle of balsamic reduction</p>
			<p>8</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Ginger Zen</li>
			<img class='menu-item-image' src='images/drinks-ginger-zen.jpg'/>
			<p>Mint, house-made tea infusion, raw ginger juice, lemon, orange, fizz</p>
			<p>8</p>
			<p>{{facebook}}</p>
			<hr>
		</ul>

		<img class='logo' src="images/footer-image.png" width="300" height="25" alt="">

		<hr>
	</div>
</body>
</html>