<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Bijou Menu  | www.projectikur.com</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id='content'>
		<a href='index.html'><img class='logo' src="images/logo.jpg" width="600" height="210" alt=""></a>
		
		<hr>
		
		<h1 class='title'>Flat Bread Pizzas</h1>

		{{facebook}}
		
		<ul class='menu'>
			<li class='category'>Vegetarian</li>
			<img class='menu-item-image' src='images/pizza-vegetarian.jpeg'/>
			<p>Bell peppers, black olives, tomatoes, mushrooms</p>
			<p>12</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>
			
			<li class='category'>Smoked Salmon</li>
			<img class='menu-item-image' src='images/pizza-smoked-salmon.jpg'/>
			<p>Creme fraiche, lemon confit, capers, mozzarella</p>
			<p>13.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Chicken Pesto</li>
			<img class='menu-item-image' src='images/pizza-chicken-pesto.jpeg'/>
			<p>Baked chicken, roasted garlic, pesto and mozzarella</p>
			<p>13</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Pepperoni</li>
			<img class='menu-item-image' src='images/pizza-pepperoni.jpg'/>
			<p>Pepperoni, spicy marinara and 3 cheese blend</p>
			<p>12</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Margherita</li>
			<img class='menu-item-image' src='images/pizza-margherita.jpeg'/>
			<p>Fresh tomatoes, Italian basil and mozzarella</p>
			<p>12.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Portobello Mushroom and Sausage</li>
			<img class='menu-item-image' src='images/pizza-portobello-mushroom-sausage.jpg'/>
			<p>Portobello mushroom, sausage and 3 cheese blend</p>
			<p>13.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>
		</ul>

		<img class='logo' src="images/footer-image.png" width="300" height="25" alt="">

		<hr>
	</div>
</body>
</html>