<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Bijou Menu  | www.projectikur.com</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id='content'>
		<a href='index.html'><img class='logo' src="images/logo.jpg" width="600" height="210" alt=""></a>
		
		<hr>
		
		<h1 class='title'>Large Plates</h1>
		
		<ul class='menu'>
			<li class='category'>Roasted Chicken Thighs</li>
			<img class='menu-item-image' src='images/large-plates-roasted-chicken-thighs.jpg'/>
			<p>Served with potato gratin and topped with a Hunter's sauce (white wine, tarragon, mushrooms, tomato and bacon)</p>
			<p>17</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>
			
			<li class='category'>Pan Seared Atlantic Salmon</li>
			<img class='menu-item-image' src='images/large-plates-pan-seared-atlantic-salmon.jpg'/>
			<p>Topped with a lemon beurre blanc sauce and served with rice, zucchini and yellow squash</p>
			<p>19.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Pan Seared Chilean Seabass</li>
			<img class='menu-item-image' src='images/large-plates-pan-seared-chilean-seabass.jpg'/>
			<p>Served with a morel mushroom sauce, sauteed wild mushrooms over risotto</p>
			<p>24.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Seabass with Virgin Sauce</li>
			<img class='menu-item-image' src='images/large-plates-seabass-virgin-sauce.jpg'/>
			<p>Served with a morel mushroom sauce, sauteed wild mushrooms over risotto</p>
			<p>28</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Flat Iron Steak</li>
			<img class='menu-item-image' src='images/large-plates-flat-iron-steak.jpg'/>
			<p>Served in a peppercorn sauce with bacon wrapped french green beans and frites</p>
			<p>20.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Scallop Buerre Rouge</li>
			<img class='menu-item-image' src='images/large-plates-scallop-buerre-rouge.jpg'/>
			<p>Pan seared Day Boat scallops served with asparagus risotto</p>
			<p>28</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>
		</ul>

		<img class='logo' src="images/footer-image.png" width="300" height="25" alt="">

		<hr>
	</div>
</body>
</html>