<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Bijou Menu  | www.projectikur.com</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id='content'>
		<a href='index.html'><img class='logo' src="images/logo.jpg" width="600" height="210" alt=""></a>
		
		<hr>
		
		<h1 class='title'>Small Plates</h1>
		
		<ul class='menu'>
			<li class='category'>Escargot Au Buerre</li>
			<img class='menu-item-image' src='images/small-plates-escargot-au-buerre.jpg'/>
			<p>Shell-less escargot, garlic, butter, shallots</p>
			<p>8</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>
			
			<li class='category'>Mac and Cheese</li>
			<img class='menu-item-image' src='images/small-plates-mac-cheese.jpg'/>
			<p>Penne pasta with a cheddar, mozzarella and parmesan blend</p>
			<p>8.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Jalapeno Croquettes</li>
			<img class='menu-item-image' src='images/small-plates-jalapeno-croquettes.jpg'/>
			<p>Jalapeno, provolone and potatoes, fried with panko bread crumbs and served with a jalapeno aioli</p>
			<p>9</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Bijou Sliders</li>
			<img class='menu-item-image' src='images/small-plates-bijou-sliders.jpg'/>
			<p>Served medium well on a roll with cheddar cheese, lettuce, tomatoes, caramelized onions and quail eggs with a side of pommes frites</p>
			<p>12.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Beef Carpaccio</li>
			<img class='menu-item-image' src='images/small-plates-beef-carpaccio.jpg'/>
			<p>Thinly sliced raw beef served with pesto, olive oil, lemon juice vinaigrette</p>
			<p>10.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Warm Brie</li>
			<img class='menu-item-image' src='images/small-plates-warm-brie.jpg'/>
			<p>Panko breaded and baked served with grilled radicchio and toast</p>
			<p>9.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Steamed Mussels</li>
			<img class='menu-item-image' src='images/small-plates-steamed-mussels.jpg'/>
			<p>Served with a l'ardennaise sauce and slices of toasted baguette</p>
			<p>12</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Loster Tail</li>
			<img class='menu-item-image' src='images/small-plates-lobster-tail.jpg'/>
			<p>Served with a warm lemon aioli and topped with tobiko</p>
			<p>14.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Bijou Frites</li>
			<img class='menu-item-image' src='images/small-plates-bijou-frites.jpg'/>
			<p>Potato and sweet potato fries served with samurai aioli</p>
			<p>7.5</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Wild Mushroom Puff Pastry</li>
			<img class='menu-item-image' src='images/small-plates-wild-mushroom-puff-pastry.jpg'/>
			<p>Sauteed portobello and button mushroom with a creamy bechamel wrapped in puff pastry</p>
			<p>11</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Ahi Tuna Tartare</li>
			<img class='menu-item-image' src='images/small-plates-ahi-tuna-tartare.jpg'/>
			<p>Mixed with white corn, green onions, shallots and a touch of soy sauce served on top of a crispy shrimp chip</p>
			<p>13.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Sauteed Tiger Prawns</li>
			<img class='menu-item-image' src='images/small-plates-sauteed-tiger-prawns.jpg'/>
			<p>Cooked in garlic, butter, cayenne pepper, and paprika and served over a bed of spinach</p>
			<p>13.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Baby Back Ribs</li>
			<img class='menu-item-image' src='images/small-plates-baby-back-ribs.jpg'/>
			<p>Marinated in a pineapple puree, lemon grass, ginger and thai chili</p>
			<p>10.5</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>arlic Chicken Wings</li>
			<img class='menu-item-image' src='images/small-plates-garlic-chicken-wings.jpg'/>
			<p>Sauteed in garlic, plum sauce, chili flakes and topped with cilantro</p>
			<p>11</p>
			<p>{{facebook}}</p>
			<hr>

		</ul>

		<img class='logo' src="images/footer-image.png" width="300" height="25" alt="">

		<hr>
	</div>
</body>
</html>