<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Bijou Menu  | www.projectikur.com</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id='content'>
		<a href='index.html'><img class='logo' src="images/logo.jpg" width="600" height="210" alt=""></a>
		
		<hr>
		
		<h1 class='title'>Soups &amp; Salads</h1>

		{{facebook}}
		
		<ul class='menu'>
			<li class='category'>Caesar Salad</li>
			<img class='menu-item-image' src='images/caesar-salad.jpeg'/>
			<p>Romaine lettuce, parmesan cheese, caesar dressing, house-made croutons</p>
			<p>9</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>
			
			<li class='category'>Roast Beet Salad</li>
			<img class='menu-item-image' src='images/roast-beet-salad.jpg'/>
			<p>Spring mix with goat cheese, grapefruit, fried shallots topped with balsamic reduction and olive oil</p>
			<p>12</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Soup of the Day</li>
			<p>Shots of soup available for $2</p>
			<p>6</p>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Caprese Salad</li>
			<img class='menu-item-image' src='images/caprese-salad.jpg'/>
			<p>Sliced tomatoes, mozzarella, topped with Italian basil, blue cheese, balsamic reduction, olive oil and fried shallots</p>
			<p>11</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Pan Seared Goat Cheese Salad</li>
			<img class='menu-item-image' src='images/pan-seared-goat-cheese-salad.jpg'/>
			<p>Served with mixed greens and finished with a Dijon mustard vinaigrette</p>
			<p>13</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Baby Spinach Salad</li>
			<img class='menu-item-image' src='images/baby-spinach-salad.jpg'/>
			<p>Baby spinach served with feta cheese and tossed in a balsamic vinaigrette</p>
			<p>9</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>

			<li class='category'>Asian Pear Salad</li>
			<img class='menu-item-image' src='images/asian-pear-salad.jpg'/>
			<p>Spring mix topped with Asian pear, feta cheese, candied pecans and dressed with a pear vinaigrette</p>
			<p>11.5</p>
			<img src='images/allergen-alert.jpg' width='165' height='22'/>
			<p>{{facebook}}</p>
			<hr>
		</ul>

		<img class='logo' src="images/footer-image.png" width="300" height="25" alt="">

		<hr>
	</div>
</body>
</html>