body {
	font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
}

#content {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
}

hr {
	width: 100%;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	background-color:#d1d0ce;
	border: 0 none;
}

h1.title {
	line-height: 390%;
	text-align: center;
	color: olive;
	/*font-size: 125%;*/
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: -2px;
	font-size: 21px;

}

ul.menu {
	margin: 1.5em 0;
	padding: 0;
}

li.category {
	line-height: 315%;
	background-image: url(../images/menutitle.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20.5em;
	padding-bottom: 5px;
	padding-top: 5px;
	display: block;
	text-align: center;
	font-size: 1em;
	padding-right: 0px;
}

li.category a {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

li.category a:hover {
	color: red;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	height: auto;
}

.menu-item-image {
	margin-top: 10px;
}